.swiper {
  width: 1230px;
  display: flex;
  justify-content: space-around;

}
.swiper-slide {
  outline: 1px solid tomato;
  width: 300px!important;
}

.swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid blue;
  width: 100%;
}