.swiper {
  width: 1230px;
  display: flex;
  justify-content: space-around;
}
.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  & img:hover {
    cursor: pointer;
  }
}
/* .swiper-slide img:hover {
  cursor: pointer;
} */
