.swiper {
  width: 1230px;
  display: flex;
  justify-content: space-around;

}
.swiper-slide {
    display: flex!important;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.swiper-wrapper {
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; */
}